* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(246, 247, 250);
  font-family: Arial, Helvetica, sans-serif;
}
/*Start Style Check:"True-False" */
.check {
  display: inline-block;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
}

.true{
  color: green;
  border-color: green;
}
.true::after {
  content: "\2713";
  font-weight: 800;
}

.false {
  color: red;
  border-color: red;
}
.false::after {
  content: "\2715";
  font-weight: 800;
}
/* End Style Check:"True-False" */


/* Start Style Category Button  */
.category {
  display: inline-block;
  border-radius: 15px;
  padding: 5px 10px;
  color: white;
  margin-left: 10px;
}

.editorial {
  background-color: rgb(73, 166, 225);
}
.editorial::before {
  content: "Editorial";
}

.goals {
  background-color: rgb(150, 99, 220);
}
.goals::before {
  content: "Q1 Goals";
}

.recruiting {
  background-color: rgb(80, 183, 159);
}
.recruiting::before {
content: "Recruiting";
}

.mobile{
  background-color: rgb(243, 148, 61);
}
.mobile::before {
  content: "Mobile";
}

.website {
  background-color:rgb(216, 85, 148) ;
}
.website::before{
  content: "Website";
}

.sales {
  background-color: rgb(168, 194, 59); 
}
.sales::before {
  content: "Sales";
}
/* End Style Category Button */ 


/* Start header style */

.header {
  background-color: white;
  height: 75px;
  margin-bottom: 50px ;
}

.header a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
}

.header a img {
  line-height: 75px;
  vertical-align: middle;
  padding-left: 20px;
}

.header h1 {
  display: inline;
  line-height: 75px;
  vertical-align: middle;
}

/* End header style */
/* Start main style */

main {
width: 70%;
margin: auto;
background-color: white;
border-radius: 10px;
padding-bottom: 20px;
margin-bottom: 10px;
}

/* Start navbar */
nav {
  border-bottom: 5px solid rgb(246, 247, 250);
}

nav div {
  display: inline-block;
}

.add {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin: 20px 0px;
}

.add.task {
  background-color: rgb(56, 158, 233) ;
  color: white;
  border: 2px solid rgb(56, 158, 233);
  margin-left: 50px;
}

.add.section {
  background-color: white;
  color: rgb(199, 202, 207);
  border: 2px solid rgb(199, 202, 207);
}
/* End navbar */

/* Start Main Content */

.content {
  margin: 30px 50px;
}

article {
  margin: 15px 0px;
}

.row {
  margin-bottom: 30px;
}

.row p {
  display: inline;
}
.row h2::before {
  content: "\25BE";
}
/* End main style */

/* Start Footer Style  */
footer {
  width: 70%;
  margin: auto;
  text-align: right;
}
/* End Footer Style  */